.navbar{
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    width: 100%;
    background: #2D6A4F;
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 80px;
}

.title{
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navitem{
    float: right;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navitem:hover{
    background-color: #74c69d;
    height: 80px !important;
}

.element-container iframe {
    height: 0px;
}
